<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neue Notiz</title>
</head>

<body>
    <img th:src="@{/img/thowl_logo.png}" />
    <h1>Neue Notiz erstellen</h1>

    <form class="form" method="POST" action="/createNote">
        <label for="titel">Titel der Notiz:</label>
        <input type="text" id="titel" name="titel"/>
        <label for="tags">Tags der Notiz:</label>
        <input type="text" id="tags" name="tags"/>
        <p></p>
        <label for="content">Inhalt der Notiz:</label>
        <input type="text" id="content" name="content"/>
        <!-- 📌 Bild-Upload-Feld hinzufügen -->
        <label for="imageFile">Bild hochladen:</label>
        <input type="file" id="imageFile" name="imageFile"/>
        <input type="submit" value="Erstellen">
    </form>

    <!-- logout.html -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

</body>
</html>