<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        lang="en">

<head>
    <title>Registrierung</title>
</head>


<body>
    <img th:src="@{/img/thowl_logo.png}" />
    <h1>Neuen Benutzer registrieren</h1>

    <form class="form" method="POST" action="/register">
        <label for="uname">Benutzername:</label>
        <input type="text" id="uname" name="username"/>
        <label for="email">E-Mail-Adresse:</label>
        <input type="text" id="email" name="email"/>
        <label for="passwort">Passwort:</label>
        <input type="text" id="passwort" name="password"/>

        <p></p>
        <input type="submit" value="Registrieren">
    </form>

    <!-- logout.html -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

</body>
</html>